body {
  font-family: "Verdana", sans-serif;
}

h1 {
  color: #e0f147;
  font-family: "Helvetica", cursive;
}

h2,
h3 {
  font-family: "Helvetica", cursive;
}

h2 {
  color: #aed9f5;
}

h4 {
  color: #1547eb;
  font-size: x-large;
  font-family: Apple Chancery, cursive;
}

h5 {
  color: #ffffff;
  font-family: "Verdana", cursive;
}


header h2 {
  color: #CEC8FF;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #aed9f5, #8995da, #b042be);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #565156;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #e3e1eb;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.card {
  margin: 2 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  background-color: rgb(238, 238, 245);
  color: rgb(17, 11, 11);
}


.quote-card {
  background: linear-gradient(to right, #f3f3f3, #f1f3fd, #e9e7fa);
  color: #0e0d09;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}


.banner-love {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.banner-love h3 {
  font-size: 3em;
  color: blue;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: banner-love 15s linear infinite;
  -webkit-animation: banner-love 15s linear infinite;
  animation: banner-love 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes banner-love {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes banner-love {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes banner-love {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}





/*process-box*/
body {
  background: #eee;
}

.process-box {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 7px 0 #00000057;
}

.process-left:after {
  content: "";
  border-top: 15px solid #ffffff;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff;
  display: inline-grid;
  position: absolute;
  right: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: 3px -2px 3px 0px #00000036;
  z-index: 1;
}

.process-right:after {
  content: "";
  border-top: 15px solid #ffffff00;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid #ffffff;
  border-right: 15px solid #ffffff00;
  display: inline-grid;
  position: absolute;
  left: -15px;
  top: 42%;
  transform: rotate(45deg);
  box-shadow: -1px 1px 3px 0px #0000001a;
  z-index: 1;
}

.process-step {
  background: #00BCD4;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #fff;
  height: 100%;
  padding-top: 8px;
  position: relative;
  top: -26px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: -6px 8px 0px 0px #00000014;
}

.process-point-right {
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #5c5c5c;
  margin: auto 0;
  position: absolute;
  bottom: 40px;
  left: -63px;
}

.process-point-right:before {
  content: "";
  height: 144px;
  width: 11px;
  background: #5c5c5c;
  display: inline-grid;
  transform: rotate(36deg);
  position: relative;
  left: -50px;
  top: -0px;
}

.process-point-left {
  background: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid #00bcd4;
  box-shadow: 0 0 0px 4px #5c5c5c;
  margin: auto 0;
  position: absolute;
  bottom: 40px;
  right: -63px;
}

.process-point-left:before {
  content: "";
  height: 144px;
  width: 11px;
  background: #5c5c5c;
  display: inline-grid;
  transform: rotate(-38deg);
  position: relative;
  left: 50px;
  top: 0px;

}

.process-last:before {
  display: none;
}

.process-box p {
  z-index: 9;
}

.process-step p {
  font-size: 20px;
}

.process-step h2 {
  font-size: 39px;
}

.process-step:after {
  content: "";
  border-top: 8px solid #04889800;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #04889800;
  border-right: 8px solid #048898;
  display: inline-grid;
  position: absolute;
  left: -16px;
  top: 0;
}

.process-step:before {
  content: "";
  border-top: 8px solid #ff000000;
  border-bottom: 8px solid #048898;
  border-left: 8px solid #048898;
  border-right: 8px solid #ff000000;
  display: inline-grid;
  position: absolute;
  right: -16px;
  top: 0;
}

.process-line-l {
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  right: -153px;
  top: 64px;
  z-index: 9;
}

.process-line-r {
  background: white;
  height: 4px;
  position: absolute;
  width: 136px;
  left: -153px;
  top: 63px;
  z-index: 9;
}