body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ebf5aa;
  font-family: "Architects_Daughter", cursive;
}

h2,
h3 {
  font-family: "Roboto", cursive;
}

h2 {
  color: #aed9f5;
}

h4 {
  color: #ffffff;
  font-family: "Roboto", cursive;
}


header h2 {
  color: #CEC8FF;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #901CAD;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #e3e1eb;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}


.quote-card {
  background: linear-gradient(to right, #f3f3f3, #f1f3fd, #e9e7fa);
  color: #0e0d09;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}