body {
    font-family: 'Amatic SC', cursive;
}

h1,
h2,
h3 {
    font-family: "Amatic SC", cursive
}

h2 {
    color: #30c598;
}

header h2 {
    color: #c8ffd1
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #b8c1c9, #3046c5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #6dcebe
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #d2cee4;
}